fastapi
uvicorn
python-multipart
python-dotenv
langchain
langchain-community
langchain-huggingface
pinecone
pypdf
sentence-transformers
bitsandbytes
accelerate
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
sqlalchemy
email-validator
langchain-text-splitters
faiss-cpu
psycopg2-binary
langchain-pinecone
